.wrapper {
    width: 80%;
    height: 350px;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
}
.forms {
    width: 70%;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.auth, .registration {
    width: 40%;
    height: 200px;
    border: 2px solid black;
}
.auth input {
    margin: 5px;
}
.registration input {
    margin: 5px;
}